@import "./variables.scss";

body {
  margin: 0;
  background: $black;
  color: #FBFEFF;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
 
  h1 {
    font-size: 1.5em;
  }
 
  h2 {
    font-size: 1.3em;
  }
}

main {
  display: grid;
  grid-template-areas: "booked-trips-card request-trip-card request-trip-card";
  height: 90.5vh;
  margin: 0;
  padding: 0;

  button {
    margin: auto;
    margin-top: 5%;
    height: 2em;
    width: 100%;
    cursor: pointer;
  }
}

.header {
  border-color: $grey;
  border-style: solid;
}

.section-card {
  display: flex;
  flex-direction: column;
}

.section-card-body {
  justify-content: space-around;
}

#section-sub-card {
  border-color: $grey;
  border-style: solid;
}

.hidden {
  display: none;
}