$pink: #F22E76;
$purple: #6D56BF;
$blue: #00A3ED;
$green: #06BF56;
$orange: #F24535;
$yellow: #FFA93D;
$black: #21222c;
$grey: #282a36;
$white: #FBFEFF;

body {
  margin: 0;
  background: $black;
  color: #FBFEFF;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
}

.login-view {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-flex {
  display: flex;
  flex-direction: column;

  input {
    margin: auto;
    margin-top: 2%;
    width: 50%;
  }
  
  button {
    margin: auto;
    margin-top: 5%;
    width: 52%;
  }

}

nav {
  border-color: $black;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  background: $grey;
  // font-size: 1.2vw;
}

#nav-left {
  text-align: left;
}

#total-spent-body {
  text-align: right;
}

main {
  display: grid;
  grid-template-areas: "booked-trips-card request-trip-card request-trip-card";
  height: 90.5vh;
  margin: 0;
  padding: 0;

  button {
    margin: auto;
    margin-top: 5%;
    height: 2em;
    width: 100%;
  }
}

.header {
  border-color: $grey;
  border-style: solid;
}

.section-card {
  display: flex;
  flex-direction: column;
}

.section-card-body {
  justify-content: space-around;
}

#booked-trips-card {
  grid-area: booked-trips-card;
  overflow: scroll;
  width: 20em;
}

#booked-trips-header {
  background: $blue;
  height: 5em;
}

#booked-trips-body {
  overflow: scroll;
}

#request-trip-card {
  grid-area: request-trip-card;
}

#request-trip-header {
  background: $yellow;
  height: 5em;
}

#request-trip-footer{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#destinations-card {
  border-color: $grey;
  border-style: solid;
}

#reset-button {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: $white;
  background-color: $pink;
  border: solid;
  border-color: $purple;
}

#request-trip-button {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: $white;
  background-color: $green;
  border: solid;
  border-color: $purple;
}

#desinations-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  height: 51vh;

  img {
    width: 100%;
  }
}

#destinations-header {
  background: $purple;
}

#destinations-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $purple;

  input {
    height: 2em;
  }
}

#section-sub-card {
  border-color: $grey;
  border-style: solid;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {

  nav {
    font-size: .6em;
  }

  main {
    grid-template-areas: 
      "booked-trips-card"
      "request-trip-card";
      height: auto;
  }

  #booked-trips-card {
    width: 100%;
    height: 30em;
  }

  #request-trip-body {
    grid-template-columns: 1fr; 
  }

  #desinations-body {
    height: 50em;
  }
}
