@import "./variables.scss";

#booked-trips-card {
  grid-area: booked-trips-card;
  overflow: scroll;
  width: 20em;
  height: 84.9vh;
  border-color: $grey;
  border-style: solid;
}

#booked-trips-header {
  background: $blue;
  height: 5em;
}

#booked-trips-body {
  overflow: scroll;
}