@import "./variables.scss";

#request-trip-card {
  grid-area: request-trip-card;
}

#request-trip-header {
  background: $yellow;
  height: 5em;
}

#request-trip-footer{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#destinations-card {
  border-color: $grey;
  border-style: solid;
}

#request-trip-button {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: $white;
  background-color: $green;
  border: solid;
  border-color: $purple;
}

#desinations-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  overflow: scroll;
  height: 48vh;
  color: $white;

  article {
    border-style: solid;
    border-width: thin;
    border-color: $grey;
  }

  input {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}

#destinations-header {
  background: $purple;
}

#destinations-selections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5%;
  padding-left: 5%;
  padding-right: 5%;

  background: $purple;
  height: 3em;
}

#error-section {
  text-align: center;
  background: $purple;
  height: 2em;
  grid-row: 2;
  grid-column: 1 / 4;
}

#destinations-footer {
  display: grid;
  background: $purple;

  button {
    grid-column: 1/3;
  }
}